/* pouzivame intuitivnejsi box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
 BARVY
 sede pozadi      #e5e5e5
 svetle fialova   #48418e
 tmave fialova    #25133d

 POUZITE PISMO
 Source Sans Pro - rezy pisma light 300, regular 400 a bold 700
https://fonts.google.com/specimen/Source+Sans+Pro
*/

body {
	padding: 0;
	margin: 0;
	background-color: #e5e5e5;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
}

.obal {
	max-width: 960px; /* obsah stránky je omezený do pruhu širokého max. 960px */
	margin: 0 auto; /* pruh je na stránce vycentrovaný */
	background: white;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

/* ----- zde začni psát vlastní CSS ----- */

/* .navigation
{
	width: 100%;
} */

.navigation-list
{
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0;
	margin: 0;
}

.navigation-list li
{
	width: 100%;
	text-align: center;
}

.navigation-list li:first-child
{
	color: #25133d;
	margin-bottom: 20px;
}

.navigation-list a
{
	font-size: 14px;
	font-weight: 400;
	color: black;
	display: inline-block;
	text-decoration: none;
	padding: 10px;
	width: 100%;
	border-bottom: 1px dotted #25133d;
}

.navigation-list a:hover,
.navigation-list a:focus,
.navigation-list a:active
{
	background-color: #48418e;
	color: white;
}

.banner
{
	background-image: url(images/pozadi.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
	text-shadow: 1px 1px 1px #0005;
	margin: 0;
}

.banner-text
{
	width: 100%;
	text-align: center;
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/telefon.png);
	background-position: right;
	background-size: contain;
	background-repeat: no-repeat;
}

.banner-text h1
{
	font-size: 45px;
	font-weight: 400;
	margin: 10px;
}

.banner-text p
{
	font-size: 20px;
	margin: 10px;
}

.banner-img
{
	display: none;
}

.banner-buttons
{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.banner-buttons a
{
	color: white;
	font-size: 14px;
	text-decoration: none;
	text-align: center;
	padding: 10px;
	width: 170px;
	border: 1px solid white;
	border-radius: 10px;
	margin-bottom: 10px;
}

.banner-buttons a:hover,
.banner-buttons a:focus,
.banner-buttons a:active
{
	background-color: #48418e;
}

.content
{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 30px 0;
}

.function
{
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	width: 340px;
}

.function img
{
	width: 50px;
}

.function h2
{
	color: #48418e;
	font-size: 20px;
	font-weight: 700;
	margin: 10px 0;
}

.function p
{
	font-size: 14px;
	font-weight: 300;
	margin: 10px 0;
}

footer
{
	background-color: #48418e;
	color: white;
	text-align: center;
}

footer p
{
	margin: 0;
	padding: 10px;
}

@media screen and (min-width: 1100px)
{
	.navigation-list
	{
		flex-direction: row;
	}

	.navigation-list li:first-child
	{
		margin-bottom: 0px;
	}

	.navigation-list li 
	{
		width: 150px;
	}

		.navigation-list a
	{
		border-bottom: none;
	}

		.banner
	{
		height: 430px;
		flex-direction: row;
		align-items: center;
		margin-bottom: 0px;
		text-shadow: none;
	}

	.banner-text
	{
		height: 100%;
		background-image: none;
		text-align: left;
		margin-left: 20px;
		width: 600px;
	}

	.banner-text h1
	{
		font-size: 90px;
		margin: 0 0 20px 0;
	}

	.banner-text p
	{
		font-size: 36px;
		margin: 0 0 40px 0;
	}

	.banner-img
	{
		height: 100%;
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
		width: 350px;
	}

	.banner-img img 
	{
		width: 100%;
	}

	.banner-buttons
	{
		display: flex;
		flex-direction: row;
		align-items: center;
		margin: 10px 0 0 0;
	}

	.banner-buttons a
	{
		width: 200px;
		margin: 0;
		font-size: 20px;
	}

	.banner-buttons a:first-of-type
	{
		margin-right: 20px;
	}

	.content
	{
		flex-direction: row;
		justify-content: center;
	}

	.function
	{
		width: 250px;
		margin: 0;
	}

	.function:nth-child(2)
	{
		margin: 0 30px;
	}

	.function p
	{
		font-size: 16px;
		font-weight: 300;
		margin: 10px 0;
	}

	footer 
	{
		font-size: 16px;
	}
}